* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('./imgs/BG2.jpg'); */
    background-image: url('./imgs/bgFinal.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;

    
    min-height: 100vh;
    background-position: center;
    width: 100%;
    color: rgb(255, 255, 237);
}

.required::after {
    content: ' *';
    color: red;
}

.container {
    background-color: transparent;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 255, 238);
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
    margin: 0px 8px;
    animation: FormAnimation 1s forwards;
    transition-duration: 1s;
    transform: scale3d(1, 1, 1);

}

@keyframes FormAnimation {
    from {
        transform: scale3d(0, 0, 0);

    }

    to {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;

    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


@media (max-width: 800px) {
    body {
        /* background-image: url('./imgs/BGPhoneImg.jpg'); */
        background-image: url('./imgs/bgFinal.png');
    }

    .container {
        padding: 15px;
    }
}

input {
    background-color: transparent;
    color: white;
}

textarea {
    background-color: transparent;
    color: white;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35%;
    /* Center the overlay */
    transform: translate(-50%, -50%);
    /* Center the overlay */
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#reg2 {
    display: none;
}

.eventrule {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px 10px rgba(0, 247, 227, 0.5);
    font-size: large;
    max-width: 500px;
    margin: 0px 10px;
    padding: 10px;
}