@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");



#container {
    position: relative;
    align-items: center;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    display: inline-block;
    margin-left: -150px;
    font-family: "Raleway", sans-serif;
    font-size: 5em;

    user-select: none;
}

.content {

    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-image: url('./imgs/bg0.png');
    background-repeat: no-repeat;

    font-family: cursive;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(252, 253, 255);



}

.logo {
    width: 100px;
    height: 80px;
}

.events {
    align-items: center;
}

li {
    list-style-type: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

@keyframes display {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.cart {

    opacity: 0;
    transform: scale3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-right: 250px;
    backdrop-filter: blur(5px);
}

.cart.animate {
    transition-duration: 1s;

    transform: scale3d(1, 1, 1) rotate3d(1, 2, 3, 360deg);
    opacity: 1;
}

.cart1 {
    opacity: 0;
    transform: scale3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);

    transition: transform 0.5s ease-in-out;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    backdrop-filter: blur(5px);
}

.cart1.animate {

    transition-duration: 1s;

    transform: scale3d(1, 1, 1) rotate3d(1, 2, 3, 360deg);
    opacity: 1;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: #fff;
    text-transform: uppercase;
    gap: 30px;
}

h1 {
    font-size: 1.5em;
    text-decoration: underline;
}



/* #deptCS {
    color: rgba(255, 0, 0, 0.1);
    font-size: xx-large;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    background-size: cover;
    background-image: url(./imgs/sudoku.png);
    -webkit-background-clip: text;
    animation: background-text-animation 15s linear infinite;
}

@keyframes background-text-animation {
    0% {
        background-position: left 0px top 50%;
    }

    50% {
        background-position: left 1500px top 50%;
    }

    100% {
        background-position: left 0px top 50%;
    }
} */

.text-shadow {
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px #06f3ff;
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.2em;
    background-position: left;
    /* -webkit-animation: flicker 1s infinite alternate;
    animation: flicker 1s infinite alternate; */
}


/* 
@keyframes flicker {
    from {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #00f8f8;
    }

    to {
        opacity: 1;
        text-shadow: 2px 2px 10px #0241ec;
    }
} */

.text-shadow:hover {
    color: #fff;
}


@media(max-width: 780px) {
    #container {
        position: relative;

        width: 90%;
        height: 5pt;
        top: 0;
        bottom: 0;

        filter: url(#threshold) blur(0.6px);
    }

    #text1,
    #text2 {

        width: 98%;
        display: inline-block;
        margin-bottom: 0.5em;
        font-family: "Raleway", sans-serif;
        font-size: 4em;

        margin-left: -2.7em;

        user-select: none;
    }
}

@media (max-width: 980px) {

    .tags small {
        font-size: 0.4em;
    }

    h1 {
        font-size: 1.0em;
    }


    .content {
        background-image: url('./imgs/bg0.png');

    }

    .cart {
        box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
        margin-top: 30px;
        margin-right: 180px;
        transform: scale3d(0, 0, 0);
        backdrop-filter: blur(1px);
    }

    .cart1 {
        box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
        margin-top: 30px;
        transform: scale3d(0, 0, 0);
        backdrop-filter: blur(1px);
    }

    .cart1.animate {

        transition-duration: 0.8s;

        transform: scale3d(1, 1, 1);
        opacity: 1;

    }

    .cart.animate {

        transition-duration: 0.8s;

        transform: scale3d(1, 1, 1);
        opacity: 1;

    }

    #headnave {
        background-color: rgb(1, 38, 75);
        backdrop-filter: blur(50px);
        box-shadow: 0px 0px 10px 10px rgba(95, 95, 95, 0.5);
        width: 7em;
        border-radius: 15%;
        border: 10em;


    }

    #cancleIcon {
        display: none;
        padding: 1px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 10px rgba(0, 247, 227, 0.5);
        animation: iconAni 1s ease-in-out;

    }

    @keyframes iconAni {
        from {

            transform: rotate(0deg);
        }

        to {

            transform: rotate(180deg);
        }
    }

    #navicon {

        padding: 10px;
        border-radius: 10%;
        box-shadow: 0px 0px 10px 10px rgba(0, 247, 227, 0.5);
        animation: menuiconAni 1s ease-in-out;
    }

    #logohead {
        visibility: hidden;
    }

    @keyframes menuiconAni {
        from {

            transform: translate(-1.5em);
        }

        to {

            transform: translate(0em);
        }
    }

}



header {

    background-color: transparent;
    backdrop-filter: blur(4px);
}

.nav-link :hover {
    text-decoration: underline;

}