@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");



#container {
    position: relative;
    align-items: center;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

/* #text1,
#text2 {
    position: absolute;
    display: inline-block;
    margin-left: -150px;
    font-family: "Raleway", sans-serif;
    font-size: 5em;

    user-select: none;
} */

.content {

    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    /* background-image: url('./imgs/bg0.png');*/
         background-image: url('./imgs/bgCyberP.jpg'); 
   /* background-image: url('./imgs/bgFinal.png');*/
    background-repeat: no-repeat;
    font-family: initial;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 237);



}

.logo {
    width: 100px;
    height: 80px;
}

.events {
    align-items: center;
}

li {
    list-style-type: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

@keyframes display {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.cart {

    opacity: 0;
    transform: scale3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 10px 20px rgba(0, 255, 217, 0.5);
    margin-top: 40px;
    margin-right: 250px;
    backdrop-filter: blur(5px);
    border-radius: 10%;
    padding: 10px;

}

.cart.animate {
    transition-duration: 1s;

    transform: scale3d(1, 1, 1) rotate3d(1, 2, 3, 360deg);
    opacity: 1;

}

.cart1 {
    opacity: 0;
    transform: scale3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);

    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 10px 20px rgba(0, 255, 217, 0.5);
    margin-top: 40px;
    backdrop-filter: blur(5px);
    border-radius: 10%;

}

.cart1.animate {

    transition-duration: 1s;

    transform: scale3d(1, 1, 1) rotate3d(1, 2, 3, 360deg);
    opacity: 1;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: #fff;
    text-transform: uppercase;
    gap: 30px;
}

h1 {
    font-size: 1.5em;
    text-decoration: underline;
}



.text-shadow {
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px #06f3ff;
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.2em;
    background-position: left;
    /* -webkit-animation: flicker 1s infinite alternate;
    animation: flicker 1s infinite alternate; */
}



.text-shadow:hover {
    color: #fff;
}


@media(max-width: 780px) {
    #logohead {
        visibility: hidden;
        content: "F";
    }

    #container {
        position: relative;

        width: 90%;
        height: 5pt;
        top: 0;
        bottom: 0;
        /*         background-image: url('./bgImg.jpg'); */
        /* background-image: url('./imgs/BGPhoneImg.jpg'); */

    }

}

@media (max-width: 980px) {

    .tags small {
        font-size: 0.4em;
    }

    h1 {
        font-size: 1.0em;
    }


    .content {
        /*background-image: url('./imgs/bg0.png');*/
        /* background-image: url('./bgImg.jpg'); */
        /* background-image: url('./imgs/BGPhoneImg.jpg'); */
/*         background-image: url('./imgs/bgFinal.png'); */
         background-image: url('./imgs/mobileBG.png'); 
        /* background-image: url('https://wallpapers-clan.com/wp-content/uploads/2023/06/cyberpunk-city-abstract-wallpaper.jpg'); */
        /* background-image: url('./imgs/techBG.webp'); */


    }

    .cart {

        margin-top: 30px;
        margin-right: 180px;
        transform: scale3d(0, 0, 0);
        backdrop-filter: blur(1px);
        padding: 10px;

    }

    .cart1 {

        margin-top: 30px;
        transform: scale3d(0, 0, 0);
        backdrop-filter: blur(1px);

        padding: 10px;
    }

    .cart1.animate {

        transition-duration: 0.8s;

        transform: scale3d(1, 1, 1);
        opacity: 1;

    }

    .cart.animate {

        transition-duration: 0.8s;

        transform: scale3d(1, 1, 1);
        opacity: 1;

    }

    #headnave {
        background-color: rgb(1, 38, 75);
        backdrop-filter: blur(50px);
        box-shadow: 0px 0px 10px 10px rgba(95, 95, 95, 0.5);
        width: 7.5em;
        border-radius: 15%;
        border: 10em;


    }

    #cancleIcon {
        display: none;
        padding: 1px;
        border-radius: 50%;
        box-shadow: 0px 0px 8px 8px rgba(0, 247, 227, 0.5);
        animation: iconAni 1s ease-in-out;

    }

    @keyframes iconAni {
        from {

            transform: rotate(0deg);
        }

        to {

            transform: rotate(180deg);
        }
    }

    #navicon {
        border-radius: 10%;
        box-shadow: 0px 0px 10px 10px rgba(0, 247, 227, 0.5);
        animation: menuiconAni 1s ease-in-out;
    }

    #logohead {
        visibility: hidden;
        content: "F";
    }

    @keyframes menuiconAni {
        from {

            transform: translate(-1.5em);
        }

        to {

            transform: translate(0em);
        }
    }

}



header {

    background-color: transparent;
    backdrop-filter: blur(4px);
}

.nav-link :hover {
    text-decoration: underline;

}

.rules {
    background: transparent;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 10px 10px rgba(0, 247, 227, 0.5);
}

.eventrule {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px 10px rgba(0, 247, 227, 0.5);
    font-size: large;
    max-width: 500px;
    margin: 0px 10px;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35%;
    /* Center the overlay */
    transform: translate(-50%, -50%);
    /* Center the overlay */
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.button {
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(1, 94, 254);
    backdrop-filter: blur(50px);
    border: 2px solid white;
    border-radius: 5px;
    transition: all 0.3s ease;
    border-radius: 10%;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.6);

}

.button:hover {
    background-color: #3e8e41;

    transform: scale(1.1);
}

.button:active {
    background-color: #3e8e41;

    transform: translateY(4px);
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.viewTimeline {
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(0, 135, 0);
    backdrop-filter: blur(50px);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.3s ease;
    border-radius: 10%;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.6);
}

.viewTimeline:hover {
    background-color: #00abf4;

    transform: scale(1.1);
}

.viewTimeline:active {
    background-color: #00abf4;

    transform: translateY(4px);
}
